@import url('https://fonts.googleapis.com/css?family=Exo+2:200,400');


// base styles
* {
 margin: 0;
 padding: 0;
 font-family: 'Exo 2', sans-serif;
 
}

.container {
  width: 80%;
  margin:0 auto;
  height: 100%;
}

body {
 background-image: url(../images/pattern-bg.png);
 background-position: center center;
//  background-repeat: no-repeat;
 background-size: cover;
 height: auto;
 width: 100%;
}

.overlay {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0,0.4);
 z-index: 0;
}

h1 {
 padding-top: 60px;
 z-index: 1;
 position: relative;
 font-weight: 200;
}

.title {
 width: 100%;
 text-align: center;
 color: white;
 margin-bottom: 100px ;
}

.main-box {
 display: flex;
 justify-content: space-around;
}

.general {
 width: 320px;
 height: 480px;
 position: relative;
}
.first-box {
  grid-area: one;
  display: grid;
}
.second-box {
  grid-area: two;
  display: grid;
}
.third-section {
  grid-area: three;
  display: grid;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  white-space: nowrap;
}

.form {
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  box-sizing: border-box;
}
.disabled {
  pointer-events: none;

  & .box__bg {
    stroke: #b7b7b7;
    fill: #e4e4e4;
  }

  & .box__card {
    cursor: default;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      left: 4px;
      background-color: #e4e4e4;
      border-radius: 10px;
      border-top-left-radius: 83px;
      opacity: 0.6;
    }
  }

  & .box__buy {
    color: #ff6;
  }

  & .box__weight {
    background-color: #b7b7b7;
  }
}
.selected-hover {
  .box__card {
    &::before {
      content: "Котэ не одобряет?";
      display: none;
      margin: 0;
      margin-bottom: 7px;
      z-index: 1;
      font-size: 16px;
      color: #e62e7a;
      box-sizing: border-box;
    }
  }

  &:hover {
    .box__tagline {
      display: none;
    }

    .box__card {
      &::before {
        display: block;
      }
    }
  }
}
.selected {
  .box__card {
    & .box__bg {
      stroke: #d91667;
    }

    .box__weight {
      background-color: #d91667;
    }

    &:hover {
      .box__text-default {
        display: none;
      }

      .box__text-selected {
        display: block;
      }

      .box__bg {
        stroke: #e62e7a;
      }

      .box__weight {
        background-color: #e62e7a;
      }
    }
  }
}
.label {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #1698d9;
  text-decoration: none;
  border-bottom: 1px dashed #1698d9;
  cursor: pointer;
}
body {
  &__content {
    padding: 20px 10px;
  }
  &__heading {
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 100;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    text-shadow: 0 1px 1px #000;
  }
}
.box {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
    position: relative;
  z-index: 5;

  &__heading {
    order: 2;
  }

  &__weight {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    width: 80px;
    height: 80px;
    padding: 10px;
    font-weight: 400;
    font-size: 42px;
    line-height: 1;
    border-radius: 50%;
    background-color: #1698d9;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    fill: #f2f2f2;
    stroke: #1698d9;
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    min-height: 480px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    text-align: left;
    flex-grow: 1;
    background-image: 
      url("../images/funbox-logo.png") ;
    background-repeat: no-repeat;
    background-position: left 4px bottom 4px;
    background-size: 263px 270px;
    border-bottom-left-radius: 24px;
    cursor: pointer;

    &:hover {
      .box__bg {
        stroke: #2EA8E5 ;
      }

      .box__weight {
        background-color: #2EA8E5;
      }
    }
  }

  &__tagline {
    display: inline-block;
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #666;
    vertical-align: middle;
  }

  &__title {
    margin: 0;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 700;
    color: #000;
  }

  &__fill {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #000;
  }

  &__set {
    padding: 0;
    padding-bottom: 275px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    list-style: none;
  }

  &__units {
    display: block;
    font-size: 21px;
  }

  &__buy,
  &__heading {
    margin: 10px 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    text-align: center;
  }
}

// media queries section

@media (min-width: 768px) and (max-width: 1024px) {
  .main-box {
    margin-top: -60px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr;
    grid-gap: 40px;
    grid-template-areas: 
    "one one"
    "two three";
  }
  .first-box {
    margin-left: 180px; 
  }
}

@media (max-width: 425px) {
  .main-box {
    display: block;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px;
  }
  .general {
    margin-top: 60px;
  }
  h1 {
    font-size: 1.4em;
  }
}

@media (width: 375px) {
  .main-box {
    margin-left: -10px;
  }
}

@media (max-width: 320px) {
  .main-box {
  margin-left: -32px;
  }
}


